* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    
}

/* header*/

header {
    display: grid;
    width: 100%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    background-color: hsla(239, 50%, 50%, 100);
    color: hsla(100, 100%, 50%, 100);
    grid-template-rows: 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem 1rem;
}

header h1 {
    font-size: 3rem;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-left: 1rem;
    margin-top: 1rem;
}

header h2 {
    font-size: 5rem;
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 9;
    
}

#timeline {
    font-size: 1.5rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 14;
    margin-left: 2rem;
}

header a {
    font-size: 2rem;
    color: hsla(150, 100%, 50%, 100);
    grid-column-start: 1;
    grid-row-start: 18;
    margin-left: 1rem;
    grid-column-end: 3;
}

#header-image-container {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 18;
    max-width: 15rem;
    max-height: 18rem;
    overflow: hidden;
    border-radius: 2rem;
}

header img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

header p {
    grid-area: 17/5/19/span 3;
    font-size: 1.5rem;
}

/*     body   */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: hsla(239, 30%, 50%, 100);
    padding-bottom: 50px;
}

.project {
    width: 40%;
    height: auto;
    border: 3px solid hsla(200, 30%, 50%, 100);
    margin-top: 4rem;
    box-shadow: 5px 10px black;
    text-align: center;
    border-radius: 2rem;
}

h3 {
    font-size: 2rem;
}

main p {
    line-height: 1.5;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main a {
    color: hsla(150, 100%, 50%, 100);
    margin: 3rem;
    padding-bottom: 2rem;
}

.project-image-container {
   width: 100%;
   height: 25rem;
   text-align: center;
   overflow: hidden;
   margin-bottom: 2rem;
   display:flex;
   justify-content: center;
}

.project img {
    width: 90%;
    padding: 2rem
}

/*   footer    */

footer {
    height: 60px;
    background-color: black;
    color: white;
}

footer p {
    line-height: 1.5;
    margin-left: 2rem;
    
}